<!DOCTYPE html>
<html>
<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
</style>
<link rel="stylesheet" href="styles1.css">
<script src="https://kit.fontawesome.com/09ddc2ccd2.js" crossorigin="anonymous"></script>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FOX</title>
</head>

<body>
    <div id="app">
        <!-- React will load here -->
    </div>
</body>

<script src="static/front/main.js"></script>

</html>